In [17]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [18]:
url = 'https://www.skysports.com/premier-league-table'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [19]:
header = soup.find_all('th')

In [20]:
header = [i.text for i in header]

In [21]:
df = pd.DataFrame(columns=header)

In [22]:
df

Empty DataFrame
Columns: [#, Team, Pl, W, D, L, F, A, GD, Pts, Last 6]
Index: []

In [23]:
text = soup.find_all('tr')

In [24]:
for j in text[1:]:
    row_data = j.find_all('td')
    cell = [x.text.strip() for x in row_data]
    length = len(df)
    df.loc[length] = cell

In [25]:
df.set_index('#', inplace=True)
df = df.drop(columns='Last 6')

In [26]:
df

                        Team  Pl   W  D   L   F   A   GD Pts
#
1                    Arsenal  15  11  3   1  33  14   19  36
2                  Liverpool  14   9  4   1  32  14   18  31
3            Manchester City  14   9  3   2  36  16   20  30
4                Aston Villa  14   9  2   3  33  20   13  29
5          Tottenham Hotspur  14   8  3   3  28  20    8  27
6           Newcastle United  14   8  2   4  32  14   18  26
7          Manchester United  14   8  0   6  16  17   -1  24
8   Brighton and Hove Albion  14   6  4   4  30  26    4  22
9            West Ham United  14   6  3   5  24  24    0  21
10                   Chelsea  14   5  4   5  25  22    3  19
11                 Brentford  14   5  4   5  22  19    3  19
12   Wolverhampton Wanderers  15   5  3   7  20  25   -5  18
13            Crystal Palace  14   4  4   6  14  19   -5  16
14                    Fulham  14   4  3   7  16  26  -10  15
15         Nottingham Forest  14   3  4   7  16  22   -6  13
16               Bournemouth  14   3  4   7  16  30  -14  13
17                Luton Town  15   2  3  10  16  30  -14   9
18                 Everton *  14   5  2   7  15  20   -5   7
19                   Burnley  15   2  1  12  15  33  -18   7
20          Sheffield United  14   1  2  11  11  39  -28   5